<div class="container">


  <div class="bg-info p-a-1">
    There are {{getProductCount()}} products.
  </div>

  <div *ngIf="getProductCount() > 4" class="bg-info p-a-1 m-t-1">
    There are more than 4 products in the model
  </div>

  <div *ngIf="getProductByPosition(0).name !='Kayak'" class="bg-info p-a-1 m-t-1">
    The first product isn't Kayak
  </div>

  <div class="bg-info p-a-1 m-t-1" [ngSwitch]="getProduct(1).name">
    <span *ngSwitchCase="targetName">Kayak</span>
    <span *ngSwitchCase="'Lifejacket'">Lifejacket</span>
    <span *ngSwitchDefault>Other Product</span>
  </div>

  <table class="table table-sm table-bordered m-t-1">
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
    </tr>
    <tr
      *ngFor="let item of getProducts(); let i = index; let odd = odd; let first = first; let last = last; trackBy:getKey"
      [class.bg-info]="odd" [class.bg-primary]="!odd" [class.bg-warning]="first || last">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.category}}</td>
      <td><span *ngIf="!last">{{item.price}}</span></td>
    </tr>

  </table>

  <ng-template #titleTemplate>
    <h4 class="p-a-1 bg-success"> repeated text</h4>
  </ng-template>

  <template [ngTemplateOutlet]="titleTemplate"></template>
  <div class="bg-info p-a-1 m-a-1">
    There are {{getProductCount()}} products.
  </div>
  <template *ngTemplateOutlet="titleTemplate"></template>

</div>
